*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Microsoft YaHei UI";
}
.clear{
    clear: both;
}
.header{
    background-color: #07cbc9;
    height: 100px;
    width: 100%;
    line-height: 100px;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 20;
}
.header .logo{
    float: left;
    padding-left: 50px;
    padding-top: 20px;
}
.header .nav{
    float: right;
}
.header .nav ul{
    margin-right: 20px;
}
.header .nav ul li{
    list-style: none;
    float: left;
    line-height: 100px;
    padding: 0 15px 0 15px;
    font-weight: bold;
}
.header .nav ul li a{
    text-decoration: none;
    color: white;
    padding-top: 41px;
    padding-bottom: 41px;
}
a:hover {
    background-color: black;
    color: black;
}
.banner {
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.banner .top img{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 700px;
}
.banner .topplayer {
    position: absolute;
    top: 100px;
    left: 0;
    background: black;
    width: 100%;
    height: 700px;
    opacity: 0.3;
    z-index: 0;
}
.banner .allipt{
    position: absolute;
    top: 300px;
    left: 35%;
    width: 279px;
    height: 700px;
    margin:auto;
    z-index: 2;
}
.banner .allipt .ipt1:hover,.ipt2:hover,textarea:hover{
    border-color: #07cbc9;
}
.banner .allipt .ipt1{
    color: lightgray;
    font-size: 15px;
    font-weight: lighter;
    width: 350px;
    height: 10px;
    padding: 9px 9px 9px 10px;
    margin: 10px 10px;
    background: none;
    border: 1px solid;
    /*opacity: 0.5;*/
    z-index: 2;
}
.banner .allipt textarea{
    color: lightgray;
    font-size: 15px;
    font-weight: lighter;
    border: 1px solid;
    width: 369px;
    height: 100px;
    margin: 10px 10px;
    background: none;
    /*opacity: 0.5;*/
    z-index: 2;
}
.banner .allipt .submit{
    color: lightgray;
    font-size: 15px;
    font-weight: lighter;
    width: 150px;
    height: 30px;
    background: none;
    border: 1px solid;
    /*opacity: 0.5;*/
    margin: 9px auto auto 135px;
    z-index: 2;
}
.banner .allipt .submit:hover{
    color: #fff;
    background-color: #07CBC9;
}
.maxA{
    text-align: center;
}
.area1 {
    font-size: 45px;
    font-weight: bold;
}
.line{
    width: 40px;
    height: 2px;
    margin: 0px auto 10px auto;
    padding: 0px;
    background-color: #07cbc9;
}
.maxA p{
    line-height: 30px;
}
.area2{
    font-size: 10px;
    color: darkgray;
    line-height: 20px;
}
.about{
    width: 100%;
}
.about .middle{
    height: 380px;
    margin: 0px auto 30px auto;
}
.about .middle .pic{
    margin-left: 450px;
    position: absolute;
    text-align: center;
    z-index: 1;
}
.about .middle .pic img {
    /*clear: both;*/
    position: relative;
    float: left;
    width: 410px;
    height: auto;
    margin-top: 0px;
    margin-left: 500px;
    z-index: 0;
}

/*.about .middle img{*/
    /*clear: both;*/
    /*display: block;*/
    /*margin: 0px auto;*/
    /*clear: both;*/
    /*width: 570px;*/
    /*height: 380px;*/
/*}*/
.about .middle .tit{
    font-size: 25px;
    width: 200px;
    margin-left:800px;
}
.about .middle .backgronud{
    position: absolute;
    z-index: 3;
    background-color: #fff;
    opacity: 0.5;
    width: 370px;
    height: 250px;
    border: 1px solid gray;
    margin-left: 750px;
}
.about .middle .text{
    position: relative;
    z-index: 4;
    margin-left: 750px;
    line-height: 30px;
    font-size: 13px;
}
.about .middle .text button{
    width: 100px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 20px;
    border: none;
}
.about .middle .text button:hover{
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
}
.about .middle .students{
    width: 165px;
    height: 100px;
    border: 1px solid #07CBC9;
    float: right;
    position: relative;
    z-index: 5;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-right: 820px;
    margin-top:75px;
}
.about .middle span{
    font-size: 20px;
    font-weight: 100;
}
.about .middle .faculty{
    width: 200px;
    height: 145px;
    border: 1px solid #07CBC9;
    float: right;
    position: relative;
    z-index: 5;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    left: 240px;
    bottom: 175px;
    padding-top: 10px;
}
.about .m-bottom {
    /*width: 100%;*/
    height: 792px;
    float: left;
}
.about .m-bottom .img{
    width: 25%;
    height: 396px;
    float: left;
    position: static;
    overflow: hidden;
}
.about .m-bottom .img img{
    width: 100%;
    height: 100%;
}
.about .m-bottom  .list {
    width: 25%;
    height: 396px;
    float: left;
    /*position: static;*/
    background-color: #07CBC9;
    color: #FFFFFF;
}
.about .m-bottom .list ul li {
    list-style: none;
    margin: 20px;
    padding-left: 20px;
}
.about .m-bottom .list ul .li1 {
    font-size: 35px;
}
.about .m-bottom .list ul .li2 {
    font-size: 20px;
}
.about .m-bottom .list ul .li3 {
    color: lightgrey;
}
.about .m-bottom .list button {
    background-color: #000000;
    color: #FFFFFF;
    width: 130px;
    height: 50px;
    border: none;
    margin-left: 35%;
}
.about .m-bottom .list button:hover {
    border: 2px solid #000000;
    background-color: #07CBC9;
    color: #FFFFFF;
}

.gallery .bot-gallery{
    width: 1152px;
    /*margin: 0 100px;*/
    /*盒子整体水平居中*/
    margin: 0 auto;
}
.gallery .bot-gallery  dl{
    float: left;
    width: 360px;
    margin: 10px 12px;
}
.gallery .bot-gallery  img{
    width: 360px;
    height: 240px;
}
.gallery .bot-gallery  .dis{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #7d7c7f;
    padding-bottom: 50px;
}
.bottom{
    width: 100%;
    height: 100px;
    background-color: #07cbc9;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    font-size: 15px;
}
